[Unit]
Description=node exporter
After=network-online.target


[Service]
Restart=always
Type=simple
ExecStart=/root/metrics/node_exporter/node_exporter


[Install]
WantedBy=multi-user.target
